{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<h1>Page d'Accueil</h1>


 
 {% set name = 'salle 1' %}

 <div class="container vh-100 bg-body-gray">
     <div class="d-flex justify-content-center align-items-center">
         <div class="card rounded-4 shadow-lg p-4 d-flex justify-content-center">
 <h3> {{name}} </h3>
            <img src={{ asset('/images/salle1.jpg') }} alt="200">
         </div>
     </di>
 </div>

{% endblock %}
