{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}


<h1>Page d'Accueil</h1>

{# <img src={{ {{ asset('/images/') }} alt=""}} #}
 
 {% set name = 'salle 1' %}

 <h3> {{name}} </h3>
 <div class="container vh-100 bg-body-gray">
     <div class="d-flex justify-content-center align-items-center">
         <div class="card rounded-4 shadow-lg p-4 d-flex justify-content-center">
            
         </div>
     </di>
 </div>

{% endblock %}
