{% extends 'base.html.twig' %}

{% block title %}Modification Réservation
{% endblock %}

{% block body %}
	<div class="container">
		<h1>{{ reservation.room.name }}</h1>

		{{form(form)}}
	</div>
{% endblock %}
