/* body {
    background-color: skyblue;
} */

img {
    transition: all 700ms ease-in;
    -webkit-transition: all 700ms ease-in;
    -moz-transition: all 700ms ease-in;
    -ms-transition: all 700ms ease-in;
    -o-transition: all 700ms ease-in;
}

img:hover {
    transition: scale(0.9);
    transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -moz-transition: all 700ms ease-out;
    -ms-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
}